.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf);
}

html {
    font-family: Roboto;
}


body * { list-style-type: none; }

body {
    margin: 0;
    padding: 0;
    background: gray;
}

button { cursor: pointer; }

#container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 10fr;
}

#header {
    border: 2px solid rgb(255, 255, 255);
    grid-column: 2 / -1;
    display: grid;
    padding: 1rem;
}

#headerTop {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 10fr 1fr 1fr 2fr;
    justify-content: center;
    align-items: center;
}

#headerTop > label {
    justify-self: end;
}

#headerTop > #search {
    margin-left: -1rem;
    margin-right: 5rem;
}

#headerBot {
    display: grid;
    grid-template-columns: 1fr 6fr 4fr;
    align-items: center;
    gap: 1rem;
}

#headerBot > .profIcon {
    justify-self: end;
}

#headerBot > #greeting {
    display: grid;
}

#greeting > :nth-child(1) {
    font-weight: bolder;
}
#greeting > :nth-child(2) {
    font-size: 24px;
    font-weight: bolder;
}

#actions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    justify-self: center;
}

#sidebar {
    border: 2px solid rgb(0, 102, 255);
    grid-row: 1 / -1;
    padding: 1rem;
    display: grid;
    grid-template-rows: 1fr 1fr repeat(6, .5fr) 1fr repeat(3, .5fr) 8fr;
}

.menu {
    display: grid;
    gap: 1rem;
}

.dash {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    font-size: 24px;
    font-weight: bolder;
}

.big.dash { font-size: 36px; }

.dash > .material-icons { justify-self: center; }

.dash > .buttonText { justify-self: start; }

#main {
    border: 2px solid rgb(255, 0, 0);
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

#projects {
    display: grid;
    grid-row: 1 / -1;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr;
    gap: 1rem;
}

#projects > :nth-child(1) { grid-column: 1 / -1; }

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    border: 2px solid black;
    padding: 2rem;
}

.card > :nth-child(1) { grid-column: 1 / -1; }

.cardActions {
    grid-row: -1 / -2;
    grid-column: 1 / -1;
    justify-self: end;
    align-self: center;
}

#announcements {
    display: grid;
    grid-template-rows: 0.1fr;
    gap: 1rem;
}

#newsCard {
    border: 2px solid black;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 2rem;
}

#trending {
    display: grid;
    grid-template-rows: 0.1fr;
}

#trendCard {
    border: 2px solid black;
    display: grid;
    padding: 2rem;
}