.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Light.ttf);
}

html {
    font-family: Roboto;
}


body * { list-style-type: none; }

body {
    margin: 0;
    padding: 0;
    background: gray;
}

button { cursor: pointer; }

#container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(5, 1fr);
    height: 100vh;
}

#header {
    border: 2px solid rgb(255, 255, 255);
    grid-column: 2 / -1;
    display: grid;
    padding: 1rem;
}

#headerTop {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 10fr 1fr 1fr 2fr;
    justify-content: center;
    align-items: center;
}

#headerTop > label {
    justify-self: end;
}

#sidebar {
    border: 2px solid rgb(0, 102, 255);
    grid-row: 1 / -1;
    padding: 1rem;
    display: grid;
    grid-template-rows: 0.25fr .5fr 1fr;
}

.menu {
    display: grid;
    gap: 1rem;
}

.dash {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    font-size: 24px;
    font-weight: bolder;
}

.big.dash { font-size: 36px; }

.dash > .material-icons { justify-self: center; }

.dash > .buttonText { justify-self: start; }

#main {
    border: 2px solid rgb(255, 0, 0);
    grid-row: 2 / -1;
}

