:root {
    --50: #f8fafc;
    --100: #f1f5f9;
    --200: #e2e8f0;
    --300: #cbd5e1;
    --400: #94a3b8;
    --500: #64748b;
    --600: #475569;
    --700: #334155;
    --800: #1e293b;
    --900: #0f172a;
    --orange: rgba(222, 93, 53, 0.8);
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf);
}

html {
    font-family: Roboto;
}

body * {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: var(--200);
}

body {
    margin: 0;
    background-color: var(--700);
}

button {
    background-color: #de5d35;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
}

button:hover {
    z-index: 1;
    color: white;
    opacity: 1;
}

button:active {
    position: relative;
    left: 1px;
    top: 1px;

}

#container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 10fr;
}

.card,
#newsCard,
#trendBox {
    border: 5px solid var(--orange);
}

#header {
    grid-column: 2 / -1;
    display: grid;
    padding: 1rem;
    background-color: var(--700);
}

#headerTop {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 10fr 1fr 1fr 2fr;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

#headerTop > label {
    justify-self: end;
}

#search {
    margin-left: -1rem;
    margin-right: 5rem;
    background-color: var(--600);
    border-radius: 5px;
    border: none;
    height: 2rem;
    padding: 5px 10px 5px 10px;
}

#search {
    outline: none;
}

#headerBot {
    display: grid;
    grid-template-columns: 1fr 6fr 4fr;
    align-items: center;
    gap: 1rem;
}

#headerBot > .profIcon {
    justify-self: end;
    border-radius: 100px;
    height: 75px;
    width: 75px;
}

#headerBot > #greeting {
    display: grid;
}

#greeting > :nth-child(1) {
    font-weight: bolder;
}
#greeting > :nth-child(2) {
    font-size: 24px;
    font-weight: bolder;
}

#actions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    justify-self: center;
}

#sidebar {
    grid-row: 1 / -1;
    padding: 2rem;
    display: grid;
    grid-template-rows: 1fr 1fr repeat(6, .5fr) 1fr repeat(3, .5fr) 8fr;
    background-color: var(--700);
}

.menu {
    display: grid;
    gap: 1rem;
}

.dash {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    font-size: 24px;
    font-weight: bolder;
}

.big.dash { font-size: 36px; }

.dash > .material-icons { justify-self: center; }

.dash > .buttonText { justify-self: start; }

#main {
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--600);
    border-radius: 20px 0px 0px 0px;
}

#projects {
    display: grid;
    grid-row: 1 / -1;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: min-content;
    gap: 2rem;
}

#projects > :nth-child(1) { grid-column: 1 / -1; }

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    border-radius: 10px;
    padding: 2rem;
}

.card > :nth-child(1) { grid-column: 1 / -1; }

.cardActions {
    grid-row: -1 / -2;
    grid-column: 1 / -1;
    justify-self: end;
    align-self: center;
}

#announcements {
    display: grid;
    grid-template-rows: min-content;
    gap: 2rem;
}

#newsCard {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 2rem;
    gap: 1rem;
}

#newsCard > :nth-child(1) {
    border-bottom: 1px solid gray;
}

#newsCard > :nth-child(2) {
    border-bottom: 1px solid gray;
}

#trending {
    display: grid;
    grid-template-rows: min-content;
    gap: 2rem;
}

#trendCard {
    display: grid;
}

#trendBox {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 2rem;
    gap: 2rem;
}

.trendUser {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--600);
}

.trendUser > :nth-child(1) {
    grid-row: 1 / -1;
    align-self: center;
    justify-self: end;
    margin-right: 1rem;
}

.trendUser > :nth-child(2) {
    justify-self: start;
    align-self: end;
}

.trendUser > :nth-child(3) {
    grid-column: 2;
    justify-self: start;
}